# Ignorar arquivos compilados de Haskell
karatsuba.hi
Karatsuba.o
main.exe
main.hi
main.o

# Ignorar arquivos compilados de Java
App.class

# Ignorar arquivos compilados de C++
main_executavel.exe

# Ignorar arquivos batch
execute.bat 